<div class="row">
    <div class="col">
        <div class="row justify-content-center mt-4">
            <img src="https://raw.githubusercontent.com/egcanete86/CharactersApp/main/src/assets/disney.png"
                class="mickey-img" alt="disney">
            <h1 class="mickey-text">{{ this.puntos}}</h1>
        </div>
        <div class="row" *ngIf="personaje">
            <div class="col">
                <div class="row mt-5">
                    <app-personaje-picture [personajeName]="personaje!.fileName" [showPersonaje]="showPersonaje">
                    </app-personaje-picture>
                </div>
                <div class="row">
                    <app-personaje-options *ngIf="!showAnswer" [personajes]="personajeArr"
                        (selectPersonaje)="checkAnswer($event)">
                    </app-personaje-options>
                </div>
                <div class="row">
                    <div *ngIf="showAnswer">
                        <h2 class="fade-in text-white">{{ message | uppercase}}</h2>
                        <button (click)="newGame()" class="btn btn-primary mt-4">
                            Siguiente
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>