<div class="col">
    <div class="row">
        <h1 *ngIf="!personaje; else elseBlock"></h1>
        <ng-template #elseBlock>
            <h1><i>¿Quién es este personaje?</i></h1>

            <div class="col">
                <div class="row mt-5">
                    <app-personaje-picture [personajeName]="personaje!.fileName" [showPersonaje]="showPersonaje">
                    </app-personaje-picture>
                </div>
                <div class="row">
                    <app-personaje-options *ngIf="!showAnswer" [personajes]="personajeArr"
                        (selectPersonaje)="checkAnswer($event)">
                    </app-personaje-options>
                </div>
                <div class="row">
                    <div *ngIf="showAnswer">
                        <h2 class="fade-in" [ngClass]="!correctAnswer ? 'text-danger' : 'text-success'">{{ message
                            |
                            uppercase}}</h2>
                        <button (click)="newGame()" class="btn btn-primary mt-4">
                            Nuevo Juego
                        </button>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</div>
<button class="button-rigth">PUNTOS: {{ this.puntos}}</button>